@model LojaVirtual.Models.Produto

<h1>Produto -> Visualizar</h1>

<br /><br />
Razor:
@{ 
    string nome = "Elias Ribeiro";
}
<h3>@nome</h3>

<br /><br />
<h2>Produto</h2>
<b>Código: </b> @Model.Id <br />
<b>NOme: </b> @Model.Nome <br />
<b>Descrição: </b> @Model.Descricao <br />
<b>Valor: </b> @Model.Valor.ToString("C")

<br /><br />
Todos os direitos reservados &copy; @DateTime.Now.Year